<ion-header>
  <ion-toolbar>
    <ion-title>Ver gastos familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div div style="float: left; width: 100%;">
    <div *ngFor="let gastoA of gastosF ">
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <div div style="float: left; width: 50%; margin-left: 5%;">
              <h2>{{ gastoA.id }}</h2>
              <h2>{{ gastoA.monto }}</h2>
              <h2>{{ gastoA.id_categoria }}</h2>
              <p>{{ gastoA.descripcion }}</p>
              <p>{{ gastoA.fecha }}</p>
            </div>            
          </ion-label>
        </ion-item>        
      </ion-item-sliding>      
    </div>
  </div>
  <ion-button expand="block">Graficos</ion-button>
</ion-content>
