<ion-header>
  <ion-toolbar>
    <ion-title>Reporte gastos de Familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto General
      </ion-card-header>
      <ion-card-content>
        <canvas #generalCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>      
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Salud
      </ion-card-header>
      <ion-card-content>
        <canvas #saludCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Transporte
      </ion-card-header>
      <ion-card-content>
        <canvas #transporteCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Vivienda
      </ion-card-header>
      <ion-card-content>
        <canvas #viviendaCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Ocio        
      </ion-card-header>
      <ion-card-content>
        <canvas #ocioCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Educacion        
      </ion-card-header>
      <ion-card-content>
        <canvas #educacionCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Alimentacion        
      </ion-card-header>
      <ion-card-content>
        <canvas #alimentacionCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Servicios        
      </ion-card-header>
      <ion-card-content>
        <canvas #serviciosCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Grafica de Gastos y Presupuesto Comparativa        
      </ion-card-header>
      <ion-card-content>
        <canvas #estrellaCanvas style="position: relative; height:20vh; width:40vw"></canvas>        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

