<ion-header>
  <ion-toolbar>
    <ion-title>Reporte gastos de Familia</ion-title><!--Titulo de la pagina-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group><!--Grupo de elementos desplegables-->
    <ion-accordion value="General"><!--Elemento desplegable-->
      <ion-item slot="header"><!--Elemento d cabecera-->
        <ion-label>Grafica de Gastos y Presupuesto General</ion-label><!--Etiqueta-->
      </ion-item>
      <ion-list slot="content"><!--Lista para contenido de desplegable-->
        <ion-item>
          <canvas #generalCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica General-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Salud">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Salud</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #saludCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Salud-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Transporte">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Transporte</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #transporteCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Transporte-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Vivienda">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Vivienda</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #viviendaCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Vivienda-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Ocio">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Ocio</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #ocioCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Ocio-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Educacion">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Educacion</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #educacionCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Educacion-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Alimentacion">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Alimentacion</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #alimentacionCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Alimentacion-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Servicios">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Servicios</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #serviciosCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria Servicios-->
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="Estrella">      
      <ion-item slot="header">
        <ion-label>Grafica de Gastos y Presupuesto Comparativa</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <canvas #estrellaCanvas style="position: relative; height:20vh; width:40vw"></canvas><!--Espacio para grafica de categoria comparativa de categorias-->
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

