<ion-header>
  
</ion-header>

<ion-content  class="background">

    <ion-grid  style=" margin-top:  70%;">
      <ion-input  id="input" placeholder="usuario@mail.com"  [(ngModel)]="User.email"></ion-input>
      <ion-input id = "input"  placeholder= "************" type = "Password" [(ngModel)]="User.password"></ion-input>
      <ion-input  id="input" placeholder="Name Lastname"  [(ngModel)]="User.name"></ion-input>
    </ion-grid>
  

  <ion-grid>
    <ion-label id="label"> _________________________ </ion-label>
    <ion-button id="botonIniciar" style=" margin-top: -9%;" color="success" routerLink= "/login" (click)="registro()">
    Guardar
    </ion-button>
  </ion-grid>
  
</ion-content>
